<div class= "container">


  <div id="offers-title">
    <div>
      <h1>Equipment close to you!</h1>
      <p>We offer equipments ranging from P like Ping-Pong rackets to Z like Zorb Football
      <br/>- a team sport in which players are encased in an inflated bubble called Zorb.
      <br/> Rent out your equipment to sport-enthusiasts near you and make some cash with Equrent today!</p>
    </div>

    <div id="btn-place-add">
      <%= link_to "Place your add", new_offer_path, class: "button btn btn-info mb-3" %>
        <div id='text-ad'>
          <p>Rent outdoor equipment from people near you!</p>
        </div>
    </div>
  </div>

  <%= form_tag offers_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "sport"
    %>
    <%= select_tag :sport, options_for_select(@dropdown) %>
    <%= submit_tag "Search by sport", class: "btn btn-primary" %>
  <% end %>

  <div class="main-container">
    <div class="cards">
      <% @offers.each do |offer| %>
        <div class="card <%= "d-none" if offer.bookings.present? %>">
          <img src="<%= offer.offer_img %>">
          <div class="card-product-infos">
            <h3 id="btn-title"><%= link_to offer.name, offer_path(offer) %></h3>
           <div id="card-content">
              <div>
                <p><%= offer.sport_type %></p>
                <p><%= offer.description %></p>
              </div>
              <h3><%= offer.price %> €</h3>
            </div>
          </div>
        </div>
      <% end %>
    </div>

        <div id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>


