<div>
  <h2><%= @offer.name %></h2>
  <h3><%= @offer.sport_type %></h3>
  <p><strong>Description: </strong><%= @offer.description %></p>
  <p><strong>Price: </strong><%= @offer.price %></p>
  <p><strong>Where: </strong><%= @offer.address %></p>
  <p><%= @offer.offer_img %></p>
</div>
<%= link_to 'All offers', offers_path %>
<%= link_to "Create an offer", new_offer_path %>
<%= link_to "Edit the offer", edit_offer_path %>
