<div class= "container">

  <div>
    <div id= "offer-title"> 
      <h2><%= @offer.name %></h2>
      <p><%=@offer.address %></p>
    </div>
    <div> 
      <%= link_to 'All offers', offers_path, class: 'btn btn-info' %>
      <%= link_to "Create an offer", new_offer_path, class: 'btn btn-info' %>
      <%= link_to "Edit the offer", edit_offer_path, class: 'btn btn-info' %>
    </div>
  </div>
    
  <div>
  <%= cl_image_tag @offer.photo.key, height: 300, width: 1000, crop: :fit %>
    <h3>>>> <%= @offer.description %></h3>
    <p><strong>Price: </strong><%= @offer.price %></p>
    <p><u>Contact <%=@offer.user.name %></u></p>
  </div>

  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

