<div>
  <h2><%= @offer.sport_type %></h2>
  <p><strong>Description: </strong><%= @offer.description %></p>
  <p><strong>Price: </strong><%= @offer.price %></p>
  <p><strong>Where: </strong><%= @offer.address %></p>
  <p><%= @offer.offer_img %></p>
</div>
<%= link_to 'Back to offer overview', offers_path %>


